%section
  .row
    .columns.medium-9.medium-centered.large-6.large-centered
      .js-joined-notification.joined-notification.callout.success.hide
      .js-left-notification.left-notification.callout.alert.hide

      - if flash[:notice]
        .flash-notice-container
          .callout.warning.js-flash-notice.flash-notice
            = raw(flash[:notice])

  .row
    .columns.medium-9.medium-centered.large-6.large-centered
      .js-message-list.message-list
        = render @messages, user: current_user

      .message.js-typing.typing.hide{ class: 'not-mine' }
        %span.body.rounded.message-tip
          = fa_icon('ellipsis-h', class: 'fa-pulse')

      .form-container
        %form
          .channel{ 'data-room-id' => @room.id, 'data-current-user-id' => current_user.id }

          .input-group
            %input.input-group-field.js-chat-text-area.chat-text-area{ type: "text" }
            .input-group-button
              %button.button.secondary.js-chat-submit-button.chat-submit-button
                = fa_icon('commenting', text: '発信')

      - has_partner = (@room.users.count > 1)
      - if has_partner
        = link_to fa_icon('times', text: 'チャット終了'), ended_room_path(@room), class: 'js-end-chat button gray'
        = link_to fa_icon('refresh', text: '新規チャット'), rooms_path, class: 'js-new-chat button hide'
      - else
        = link_to fa_icon('times', text: 'チャット終了'), ended_room_path(@room), class: 'js-end-chat button gray hide'
        = link_to fa_icon('refresh', text: '新規チャット'), rooms_path, class: 'js-new-chat button'
